body {
    background-color: lightgreen;
    text-align: center;
    font-family: 'Glegoo', serif;
}

h1 {
    margin: 4% 0;
    font-family: 'Bungee Shade', cursive;
    font-size: 5em;
}

textarea {
    margin: 1.5% 0;
    padding: 3%;
    text-align: center;
    border: 10px dotted lightblue;
    font-family: 'Glegoo', serif;
    font-weight: bold;
    font-size: 2em;
    outline: none;

}

#userSubmit {
    height: 50px;
    width: 500px;
    font-family: 'Glegoo', serif;
    font-weight: bold;
    background-color: orange;
    border-radius: 50px;
    outline: none;
}
